PORT=3000
MONGO_URI=mongodb://localhost:27017/hotelApiDb

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=dummyAccessKeyId
AWS_SECRET_ACCESS_KEY=dummySecretAccessKey
S3_BUCKET_NAME=hotel-media-bucket
CLOUDFRONT_DOMAIN=https://dxxxxxxxxxxxxx.cloudfront.net

JWT_SECRET=dummyJwtSecretChangeMe
JWT_EXPIRY=7d
